@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic' , sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 75px;
    position: absolute;
    z-index: 10000;
    background: #fff;
    box-shadow: 0 0 5px #999;
}
.h_contain {
    width: 1140px;
    height: 75px;
    margin: 0 auto;
    display: flex;
}
.logo_area {
    width: 227.656px;
    height: 75px;
}
.logo_contain {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    padding-left: 2px;
    align-items: center;
}
.logo {
    width: 207.656px;
    height: 39.375px;
    
}
.logo_img_con {
    width: 140px;
    height: 33.375px;
}
.logo_img {
    width: 100%;
    height: 100%;
}
.logo_img > img {
    width: 100%;
    height: 100%;
}
.menu_area {
    width: 908.516px;
    height: 75px;
}
.menu_contain {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.menu_wrap {
    width: 888.516px;
    height: 55px;
    display: flex;
    justify-content: end;
}
.menu_wrap > li > a:hover {
    text-decoration: underline 1px #222;
    text-underline-offset: 7px; /* 언더라인 간격조정 */
}
.menu_one {
    width: 99.734px;
    height: 100%;
    margin-right: 10px;
    text-align: center;
    display: flex;
    position: relative;
}
.menu_one > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #222;
    font-weight: 500;
}
.menu_one i {
    position: absolute;
    right: 0;
    line-height: 55px;
    font-size: 10px;
}
.menu_one ul {
    position: absolute;
    width: 180px;
    height: 318px;
    top: 55px;
    background: #fff;
    box-shadow: 0 0 2px #aaa;
}
.menu_one ul > li {
    width: 100%;
    height: 53px;
    padding: 16px;
    text-align: start;
    font-size: 14px;
}
.menu_one ul > li:hover {
    background: #eee;
}
.menu_one ul > li > a {
    color: #222;
}
.menu_one ul > li:nth-child(5) ,
.menu_one ul > li:nth-child(6) {
    font-size: 13px;
}
#subMenu {
    display: none;
}
.menu_two {
    width: 97.578px;
    height: 100%;
    margin: 0 10px;
    text-align: center;
}
.menu_two > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #222;
    font-weight: 500;
}
.menu_three {
    width: 108.969px;
    height: 100%;
    margin: 0 10px;
    text-align: center;
}
.menu_three > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #222;
    font-weight: 500;
}
.menu_four {
    width: 90.141px;
    height: 100%;
    margin: 0 10px;
    text-align: center;
}
.menu_four > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #222;
    font-weight: 500;
}
.menu_five {
    width: 90.875px;
    height: 100%;
    margin-left: 10px;
}
.menu_five > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #222;
    font-weight: 500;
}
.ALM_area {
    width: 100%;
    height: 1064.810px;
    display: flex;
}
.aboutALM {
    width: 532.83px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.aboutALM > video {
    position: absolute;
    left: -730px;
}
.ALMtext {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 20px;
}
.ALMtext > h1 {
    margin-top: 600px;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
}
.ALMtext > p {
    padding-left: 15px;
    margin-top: 20px;
    font-size: 1.1vw;
    line-height: 30px;
}
.ALMtext > a {
    font-size: 1.1vw;
    color: #fff;
    display: block;
    padding: 40px 20px 20px 20px;
    font-weight: 100;
    transition: 0.5s;
}
.ALMtext a:hover {
    transform: translateX(10px);
    transition: 0.5s;
}
.ALMnews {
    width: 685.08px;
    height: 1064.810px;
    padding: 120px 40px;
    background: #dce8fc;
}
.news_contain {
    width: 604.36px;
    height: 752.812px;
}
.news_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news1 {
    width: 100%;
    height: 505.812px;
    padding: 0 20px;
    background: #ffffff7a;
    border-radius: 20px;
}
.news1_inner {
    width: 565.08px;
    height: 518.19px;
    padding: 40px 0;
}
.news1_contain {
    width: 564px;
    height: 438.203px;
}
.news1_title_area {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
}
.news1_title_area i {
    font-size: 25px;
    color: #1c4f94;
}
.n1_title_contain {
    width: 66.391px;
    height: 48px;
}
.n1_title_inner {
    width: 100%;
    height: 28px;
    margin-bottom: 20px;
}
.n1_title {
    width: 63.39px;
    height: 28px;
    padding: 2px 12px 3px 12px;
    border: 1px solid #1c4f94;
    background: #e9f3ff;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
    border-radius: 15px;
}
.n1_title:hover {
    background: #e2efff;
    cursor: pointer;
}
.n1_main_img {
    width: 564px;
    height: 317.203px;
}
.n1_main_img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
}
.n1_text {
    width: 564px;
    height: 73px;
}
.n1_text_inner {
    width: 100%;
    height: 100%;
    padding-top: 25px;
}
.n1_text_inner > p {
    line-height: 23px;
}
.news2 {
    width: 100%;
    height: 227px;
    padding: 0 20px;
    background: #ffffff7a;
    border-radius: 20px;
}
.news2_inner {
    width: 565.08px;
    height: 227px;
    padding: 40px 0;
}
.n2_text {
    width: 564px;
    height: 99px;
}
.n2_text > h2 {
    font-size: 21px;
    font-weight: 700;
}
.n2_text a {
    font-size: 20px;
    color: #333;
}
.n2_text_contents {
    width: 564px;
    height: 63px;
    padding-top: 25px;
}
.ALMproduct {
    width: 685.08px;
    height: 1064.810px;
    padding: 120px 40px;
    background: #cedef7;
}
.product_contain {
    width: 604.36px;
    height: 742.328px;
}
.product_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_title {
    width: 100%;
    height: 75px;
    background: #fff;
}
.product_img {
    width: 100%;
    height: 630.969px;
    margin-top: 10px;
    background: #fff;
}